{% extends "base_generic.html" %}

{% block content %}

<div class="row c_main">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h1>Hausverwaltung Cloud</h1>
    <p class="subline">Speichert Eure Daten in der Wolke!</p>

    <div style="text-align:center;margin-top:50px;">
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    </div>
    
  </div>
  <div class="col-sm-2"></div>
</div> 

{% endblock %}
