{% extends "base_generic.html" %}

{% block content %}

<div class="row c_main">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h1>Impressum</h1>
    <p class="subline">Darf leider auch nie vergessen werden</p>
  </div>
  <div class="col-sm-2"></div>
</div> 

<!--
<div class="row tube_row bg1">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <p>Picture</p>
  </div>
  <div class="col-sm-4">
    <p>Intro text</p>
  </div>
  <div class="col-sm-2"></div>
</div> 

<div class="row tube_row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h1>Über uns</h1>
    <p>Zeugs über uns</p>
  </div>
  <div class="col-sm-2"></div>
</div> 
-->

{% endblock %}
