{% extends "base_generic.html" %}
{% load static %}

{% block content %}

<div class="row c_main">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h1>Hausverwaltung Lubitz</h1>
    <p class="subline">Herzlich Willkommen!</p>
  </div>
  <div class="col-sm-2"></div>
</div> 

<div class="row tube_row bg1">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <img src="{% static 'hv_main/images/placeholder_front.jpg' %}" alt="Kleine Mittelstrasse Front"/>
  </div>
  <div class="col-sm-4">
    <p>
      Die Hausverwaltung Lubitz befindet sich mitten im Herzen Spandaus. Wir verwalten Häuser in
      Spandau, dem Wedding, Potsdam und Winsen an der Aller. Außerdem sind wir die beste Hausverwaltung
      der Stadt und des Landes. Empfehlen Sie uns Ihren Freunden und Freundesfreunden weiter.
    </p>
  </div>
  <div class="col-sm-2"></div>
</div> 


<div class="row tube_row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h1>Wofür wir stehen</h1>

    <div class="row">
      <div class="col-sm-4">
	<p class="stand_for">
	  <img class="bullet-point" src="{% static 'hv_main/images/bp.png' %}"><br>
	  Langfristige Werterhaltung und Wertsteigerung
	</p>
	<p class="stand_for">
	  <img class="bullet-point" src="{% static 'hv_main/images/bp.png' %}"><br>
	  Transparente Kommunikation und schnelle Reaktionszeit
	</p>
      </div>
      <div class="col-sm-4">
	<p class="stand_for">
	  <img class="bullet-point" src="{% static 'hv_main/images/bp.png' %}"><br>
	  Sinnvolle Investitionen
	</p>
	<p class="stand_for">
	  <img class="bullet-point" src="{% static 'hv_main/images/bp.png' %}"><br>
	  Gute Vermietbarkeit durch kompetente Verwaltung
	</p>
      </div>
      <div class="col-sm-4">
	<p class="stand_for">
	  <img class="bullet-point" src="{% static 'hv_main/images/bp.png' %}"><br>
	  Gute Erreichbarkeit für Mieter und Eigentümer
	</p>
	<p class="stand_for">
	  <img class="bullet-point" src="{% static 'hv_main/images/bp.png' %}"><br>
	  Nutzung moderner und zuverlässiger IT
	</p>
      </div>
    </div>
    
  </div>
  <div class="col-sm-2"></div>
</div>

<div class="row tube_row bg1">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="gallery_teaser">
      <img src="{% static 'hv_main/images/lpzg_03.jpg' %}" onclick="openModal();currentSlide(1)" class="hover-shadow" alt="gallery teaser hausfront">
      <figcaption>
	<strong class="rubrique">UNSERE OBJEKTE</strong>
	<h4>Klicken Sie sich durch unsere Gallerie</h4>
      </figcaption>
    </div>

    <div id="myModal" class="modal">
      <span class="close cursor" onclick="closeModal()">&times;</span>
      <div class="modal-content">

	<div class="mySlides">
	  <div class="numbertext">1 / 20</div>
	  <img src="{% static 'hv_main/images/lpzg_03.jpg' %}" alt="hausverwaltung objekte">
	</div>

	<div class="mySlides">
	  <div class="numbertext">2 / 20</div>
	  <img src="{% static 'hv_main/images/fehr_01.JPG' %}" alt="hausverwaltung objekte">
	</div>

	<div class="mySlides">
	  <div class="numbertext">3 / 20</div>
	  <img src="{% static 'hv_main/images/fehr_02.JPG' %}" alt="hausverwaltung objekte">
	</div>

	<div class="mySlides">
	  <div class="numbertext">4 / 20</div>
	  <img src="{% static 'hv_main/images/fehr_03.png' %}" alt="hausverwaltung objekte">
	</div>
	
	<div class="mySlides">
	  <div class="numbertext">5 / 20</div>
	  <img src="{% static 'hv_main/images/gth_01.JPG' %}" alt="hausverwaltung objekte">
	</div>

	<div class="mySlides">
	  <div class="numbertext">6 / 20</div>
	  <img src="{% static 'hv_main/images/gth_02.JPG' %}" alt="hausverwaltung objekte">
	</div>
	
	<div class="mySlides">
	  <div class="numbertext">7 / 20</div>
	  <img src="{% static 'hv_main/images/gth_03.JPG' %}" alt="hausverwaltung objekte">
	</div>	
	
	<div class="mySlides">
	  <div class="numbertext">8 / 20</div>
	  <img src="{% static 'hv_main/images/gth_04.JPG' %}" alt="hausverwaltung objekte">
	</div>
	
	<div class="mySlides">
	  <div class="numbertext">9 / 20</div>
	  <img src="{% static 'hv_main/images/lpzg_01.JPG' %}" alt="hausverwaltung objekte">
	</div>

	<div class="mySlides">
	  <div class="numbertext">10 / 20</div>
	  <img src="{% static 'hv_main/images/lpzg_02.JPG' %}" alt="hausverwaltung objekte">
	</div>

	<!--
	<div class="mySlides">
	  <div class="numbertext">8 / 20</div>
	  <img src="{% static 'hv_main/images/lpzg_04.pdf' %}" alt="hausverwaltung objekte">
	</div>
	-->
	
	<div class="mySlides">
	  <div class="numbertext">11 / 20</div>
	  <img src="{% static 'hv_main/images/ptsdm_01.JPG' %}" alt="hausverwaltung objekte">
	</div>

	<div class="mySlides">
	  <div class="numbertext">12 / 20</div>
	  <img src="{% static 'hv_main/images/ptsdm_02.JPG' %}" alt="hausverwaltung objekte">
	</div>

	<div class="mySlides">
	  <div class="numbertext">13 / 20</div>
	  <img src="{% static 'hv_main/images/ptsdm_03.JPG' %}" alt="hausverwaltung objekte">
	</div>

	<div class="mySlides">
	  <div class="numbertext">14 / 20</div>
	  <img src="{% static 'hv_main/images/spnd_01.JPG' %}" alt="hausverwaltung objekte">
	</div>

	<div class="mySlides">
	  <div class="numbertext">15 / 20</div>
	  <img src="{% static 'hv_main/images/spnd_02.JPG' %}" alt="hausverwaltung objekte">
	</div>

	<div class="mySlides">
	  <div class="numbertext">16 / 20</div>
	  <img src="{% static 'hv_main/images/spnd_03.JPG' %}" alt="hausverwaltung objekte">
	</div>

	<div class="mySlides">
	  <div class="numbertext">17 / 20</div>
	  <img src="{% static 'hv_main/images/spnd_04.JPG' %}" alt="hausverwaltung objekte">
	</div>

	<div class="mySlides">
	  <div class="numbertext">18 / 20</div>
	  <img src="{% static 'hv_main/images/spnd_05.JPG' %}" alt="hausverwaltung objekte">
	</div>

	<div class="mySlides">
	  <div class="numbertext">19 / 20</div>
	  <img src="{% static 'hv_main/images/spnd_06.JPG' %}" alt="hausverwaltung objekte">
	</div>

	<div class="mySlides">
	  <div class="numbertext">20 / 20</div>
	  <img src="{% static 'hv_main/images/spnd_07.JPG' %}" alt="hausverwaltung objekte">
	</div>
	
	
	<!-- Next/previous controls -->
	<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
	<a class="next" onclick="plusSlides(1)">&#10095;</a>
	      
	<!-- Caption text -->
	<div class="caption-container">
	  <p id="caption"></p>
	</div>
	
      </div>
    </div>
	
  </div>
  <div class="col-sm-2"></div>
</div>

<div class="row tube_row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h1>Was wir Ihnen bieten</h1>

    <div class="row">
      <div class="col-sm-4">
	<p class="stand_for_small">
	  <img class="bullet-point" src="{% static 'hv_main/images/bp.png' %}"><br>
	  Erfahrung seit über 40 Jahren, überwiegend im Berliner Altbau
	</p>
	<p class="stand_for_small">
	  <img class="bullet-point" src="{% static 'hv_main/images/bp.png' %}"><br>
	  Familien&shy;geführte Haus&shy;verwaltung in 3. Generation
	</p>
	<p class="stand_for_small">
	  <img class="bullet-point" src="{% static 'hv_main/images/bp.png' %}"><br>
	  Berlin und Potsdam
	</p>
	<p class="stand_for_small">
	  <img class="bullet-point" src="{% static 'hv_main/images/bp.png' %}"><br>
	  Professionelle Verwaltung Ihrer Wohn&shy;immobilie im kauf&shy;männischen und tech&shy;nischen Bereich
	</p>
	<p class="stand_for_small">
	  <img class="bullet-point" src="{% static 'hv_main/images/bp.png' %}"><br>
	  Persönliche Abnahme und Übergabe der Mieträume bei Mieter&shy;wechsel
	</p>
	<p class="stand_for_small">
	  <img class="bullet-point" src="{% static 'hv_main/images/bp.png' %}"><br>
	  Umfassende Mieter&shy;betreuung
	</p>
	<p class="stand_for_small">
	  <img class="bullet-point" src="{% static 'hv_main/images/bp.png' %}"><br>
	  Beglei&shy;tende Abwicklung bei gericht&shy;lichen Auseinander&shy;setzungen
	</p>
      </div>

      <div class="col-sm-4">
	<p class="stand_for_small">
	  <img class="bullet-point" src="{% static 'hv_main/images/bp.png' %}"><br>
	  Erstellung monat&shy;licher Grundstücks&shy;abrechnungen
	</p>
	<p class="stand_for_small">
	  <img class="bullet-point" src="{% static 'hv_main/images/bp.png' %}"><br>
	  Jahres&shy;zusammenstellungen für die Eigentümer
	</p>
	<p class="stand_for_small">
	  <img class="bullet-point" src="{% static 'hv_main/images/bp.png' %}"><br>
	  Erstellung jähr&shy;licher Betriebs-und Heizkosten&shy;abrechnungen
	</p>
	<p class="stand_for_small">
	  <img class="bullet-point" src="{% static 'hv_main/images/bp.png' %}"><br>
	  Überwachung und Buchung der Mieteingänge
	</p>
	<p class="stand_for_small">
	  <img class="bullet-point" src="{% static 'hv_main/images/bp.png' %}"><br>
	  Miet&shy;erhöhungs&shy;verfahren
	</p>
	<p class="stand_for_small">
	  <img class="bullet-point" src="{% static 'hv_main/images/bp.png' %}"><br>
	  Beauf&shy;tragung und Kontrolle not&shy;wendiger, objekt&shy;bezogener Maßnahmen
	</p>
	<p class="stand_for_small">
	  <img class="bullet-point" src="{% static 'hv_main/images/bp.png' %}"><br>
	  Lohn&shy;abrechnungen und Betreuung von Hauswarten
	</p>
      </div>

      <div class="col-sm-4">
	<p class="stand_for_small">
	  <img class="bullet-point" src="{% static 'hv_main/images/bp.png' %}"><br>
	  Annahme, Verwahrung und Abrechnung der Miet&shy;kautionen
	</p>
	<p class="stand_for_small">
	  <img class="bullet-point" src="{% static 'hv_main/images/bp.png' %}"><br>
	  Suche, Auswahl und Über&shy;prüfung solventer neuer Mieter
	</p>
	<p class="stand_for_small">
	  <img class="bullet-point" src="{% static 'hv_main/images/bp.png' %}"><br>
	  Abschluss von Miet&shy;verträgen
	</p>
	<p class="stand_for_small">
	  <img class="bullet-point" src="{% static 'hv_main/images/bp.png' %}"><br>
	  Reparatur- und Mängel&shy;bearbeitung
	</p>
	<p class="stand_for_small">
	  <img class="bullet-point" src="{% static 'hv_main/images/bp.png' %}"><br>
	  Betreuung und Koordi&shy;nierung von Modernisierungs&shy;maßnahmen
	</p>
	<p class="stand_for_small">
	  <img class="bullet-point" src="{% static 'hv_main/images/bp.png' %}"><br>
	  Regel&shy;mäßige Zustands&shy;kontrolle des Grund&shy;besitzes
	</p>
	<p class="stand_for_small">
	  <img class="bullet-point" src="{% static 'hv_main/images/bp.png' %}"><br>
	  Abwick&shy;lung von Schadens&shy;fällen mit Versicherungs&shy;gesell&shy;schaften
	</p>
      </div>
    </div>	
  </div>
  <div class="col-sm-2"></div>
</div>


<script src="{% static 'js/scripts_index.js' %}"></script>

{% endblock %}
