{% extends "base_generic.html" %}
{% load static %}

{% block content %}

<div class="row c_main">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h1>Hausverwaltung Lubitz</h1>
    <p class="subline">Herzlich Willkommen!</p>
  </div>
  <div class="col-sm-2"></div>
</div> 

<div class="row tube_row bg1">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <img src="{% static 'hv_main/images/placeholder_front.jpg' %}" alt="Kleine Mittelstrasse Front"/>
  </div>
  <div class="col-sm-4">
    <p>
      Die Hausverwaltung Lubitz befindet sich mitten im Herzen Spandaus. Wir verwalten Häuser in
      Spandau, dem Wedding, Potsdam und Winsen an der Aller. Außerdem sind wir die beste Hausverwaltung
      der Stadt und des Landes. Empfehlen Sie uns Ihren Freunden und Freundesfreunden weiter.
    </p>
  </div>
  <div class="col-sm-2"></div>
</div> 


<div class="row tube_row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <p>Wir stehen für</p>
    <ul>
      <li>langfristige Werterhaltung und Wertsteigerung</li>
      <li>sinnvolle Investitionen</li>
      <li>dadurch gute Vermietbarkeit</li>
      <li>gute Erreichbarkeit für Mieter und Eigentümer</li>
      <li>transparente Kommunikation und schnelle Reaktionszeit</li>
    </ul>
  </div>
  <div class="col-sm-2"></div>
</div>

<div class="row tube_row bg1">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="gallery_teaser">
      <img src="{% static 'hv_main/images/lpzg_03.jpg' %}" onclick="openModal();currentSlide(1)" class="hover-shadow" alt="gallery teaser hausfront">
      <figcaption>
	<strong class="rubrique">UNSERE OBJEKTE</strong>
	<h4>Klicken Sie sich durch unsere Gallerie</h4>
      </figcaption>
    </div>

    <div id="myModal" class="modal">
      <span class="close cursor" onclick="closeModal()">&times;</span>
      <div class="modal-content">

	<div class="mySlides">
	  <div class="numbertext">1 / 15</div>
	  <img src="{% static 'hv_main/images/lpzg_03.jpg' %}" alt="hausverwaltung objekte">
	</div>

	<div class="mySlides">
	  <div class="numbertext">2 / 15</div>
	  <img src="{% static 'hv_main/images/fehr_01.JPG' %}" alt="hausverwaltung objekte">
	</div>
	
	<div class="mySlides">
	  <div class="numbertext">3 / 15</div>
	  <img src="{% static 'hv_main/images/gth_01.JPG' %}" alt="hausverwaltung objekte">
	</div>

	<div class="mySlides">
	  <div class="numbertext">4 / 15</div>
	  <img src="{% static 'hv_main/images/gth_02.JPG' %}" alt="hausverwaltung objekte">
	</div>
	
	<div class="mySlides">
	  <div class="numbertext">5 / 15</div>
	  <img src="{% static 'hv_main/images/gth_03.JPG' %}" alt="hausverwaltung objekte">
	</div>	

	<div class="mySlides">
	  <div class="numbertext">6 / 15</div>
	  <img src="{% static 'hv_main/images/lpzg_01.JPG' %}" alt="hausverwaltung objekte">
	</div>

	<div class="mySlides">
	  <div class="numbertext">7 / 15</div>
	  <img src="{% static 'hv_main/images/lpzg_02.JPG' %}" alt="hausverwaltung objekte">
	</div>

	<!--
	<div class="mySlides">
	  <div class="numbertext">8 / 15</div>
	  <img src="{% static 'hv_main/images/lpzg_04.pdf' %}" alt="hausverwaltung objekte">
	</div>
	-->
	
	<div class="mySlides">
	  <div class="numbertext">9 / 15</div>
	  <img src="{% static 'hv_main/images/ptsdm_01.JPG' %}" alt="hausverwaltung objekte">
	</div>

	<div class="mySlides">
	  <div class="numbertext">10 / 15</div>
	  <img src="{% static 'hv_main/images/ptsdm_02.JPG' %}" alt="hausverwaltung objekte">
	</div>

	<div class="mySlides">
	  <div class="numbertext">11 / 15</div>
	  <img src="{% static 'hv_main/images/ptsdm_03.JPG' %}" alt="hausverwaltung objekte">
	</div>

	<div class="mySlides">
	  <div class="numbertext">12 / 15</div>
	  <img src="{% static 'hv_main/images/spnd_01.JPG' %}" alt="hausverwaltung objekte">
	</div>

	<div class="mySlides">
	  <div class="numbertext">13 / 15</div>
	  <img src="{% static 'hv_main/images/spnd_02.JPG' %}" alt="hausverwaltung objekte">
	</div>

	<div class="mySlides">
	  <div class="numbertext">14 / 15</div>
	  <img src="{% static 'hv_main/images/spnd_03.JPG' %}" alt="hausverwaltung objekte">
	</div>

	<div class="mySlides">
	  <div class="numbertext">15 / 15</div>
	  <img src="{% static 'hv_main/images/spnd_04.JPG' %}" alt="hausverwaltung objekte">
	</div>
	      
	<!-- Next/previous controls -->
	<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
	<a class="next" onclick="plusSlides(1)">&#10095;</a>
	      
	<!-- Caption text -->
	<div class="caption-container">
	  <p id="caption"></p>
	</div>
	
      </div>
    </div>
	
  </div>
  <div class="col-sm-2"></div>
</div>

<div class="row tube_row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h1>Über uns</h1>
    <p>Was wir Ihnen bieten:</p>
    <ul>
      <li>Erfahrung seit über 40 Jahren, überwiegend im Berliner Altbau </li>
      <li>familiengeführte Hausverwaltung in 3. Generation</li>
      <li>Berlin und Potsdam</li>
      <li>professionelle Verwaltung Ihrer Wohnimmobilie im kaufmännischen und technischen Bereich </li>
      <li>Nutzung moderner und zuverlässiger IT (Domus Hausverwalter-Software, Microsoft Office)</li>
      <li>Erstellung monatlicher Grundstücksabrechnungen </li>
      <li>Jahreszusammenstellungen für die Eigentümer </li>
      <li>Erstellung jährlicher Betriebs-und Heizkostenabrechnungen </li>
      <li>Überwachung und Buchung der Mieteingänge </li>
      <li>Annahme, Verwahrung und Abrechnung der Mietkautionen</li>
      <li>Suche, Auswahl und Überprüfung solventer neuer Mieter</li>
      <li>Abschluss von Mietverträgen </li>
      <li>persönliche Abnahme und Übergabe der Mieträume bei Mieterwechsel </li>
      <li>umfassende Mieterbetreuung </li>
      <li>Mieterhöhungsverfahren</li>
      <li>begleitende Abwicklung bei gerichtlichen Auseinandersetzungen  </li>
      <li>Beauftragung und Kontrolle notwendiger, objektbezogener Maßnahmen, z.B. Hausreinigung, Winterdienst, Schornsteinfeger </li>
      <li>Lohnabrechnungen und Betreuung von Hauswarten </li>
      <li>Reparatur- und Mängelbearbeitung </li>
      <li>Betreuung und Koordinierung von Modernisierungsmaßnahmen, z.B. Sanitär-Badumbau, Fußbodenarbeiten, Malerarbeiten, Fenster etc., in Absprache mit den Eigentümern</li>
      <li>regelmäßige Zustandskontrolle des Grundbesitzes</li>
      <li>Abwicklung von Schadensfällen mit Versicherungsgesellschaften </li>
      <li>Kostenoptimierung aller anfallenden Versorgungsleistungen (Strom, Gas/Öl) </li>
    </ul>
  </div>
  <div class="col-sm-2"></div>
</div>


<script src="{% static 'js/scripts_index.js' %}"></script>

{% endblock %}
