{% extends "base_generic.html" %}
{% load static %}

{% block content %}

<div class="row c_main">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h1>Hausverwaltung Lubitz</h1>
    <p class="subline">Herzlich Willkommen!</p>
  </div>
  <div class="col-sm-2"></div>
</div> 

<div class="row tube_row bg1">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <img src="{% static 'hv_main/images/placeholder_front.jpg' %}" alt="Kleine Mittelstrasse Front"/>
  </div>
  <div class="col-sm-4">
    <p>
      Die Hausverwaltung Lubitz befindet sich mitten im Herzen Spandaus. Wir verwalten Häuser in
      Spandau, dem Wedding, Potsdam und Winsen an der Aller.
    </p>
  </div>
  <div class="col-sm-2"></div>
</div> 

<div class="row tube_row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h1>Über uns</h1>
    <p>Zeugs über uns</p>
  </div>
  <div class="col-sm-2"></div>
</div> 

{% endblock %}
